@main(title = "About - Devoxx Schedule Browser") {
	<div class="panel about">
		<img src="http://blog.smarx.com/content/images/headshot.jpg" style="width:169px" />
		<h1>Virtual Steve says hello!</h1>
		<p>Steve built the app you're looking at, but he couldn't be at Devoxx to tell you all about it. If he could have been here, I'm sure he would have told you:</p>
		<ul style="list-style-position:inside">
			<li>This app is built in <a href="http://www.scala-lang.org/">Scala</a>, using the <a href="http://www.playframework.org/">Play framework</a>.</li>
			<li>This app is deployed to <a href="http://windowsazure.com">Windows Azure</a>.</li>
			<li>Steve wrote a <a href="http://blog.smarx.com/posts/using-scala-and-the-play-framework-in-windows-azure">blog post</a> about how he built this app.</li>
			<li>The full source code is available <a href="https://github.com/smarx/devoxxschedule">on GitHub</a></li>
		</ul>
		<div style="clear:both"></div>
	</div>
}