html, body {
	background-color: #e0e0e0;
	font-family: Arial;
	font-size: 16px;
	color: #3d3d3d;
}

div#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

ul.timeslots {
	list-style: none;
	padding: 0;
	margin: 0;
}

div#container h1 {
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 22px;
	font-family: Georgia;
}

ul.presentations {
	list-style: none;
	padding: 0;
	margin: 0;
}

p { margin-bottom: 0; }
table.presentations { width: 100%; border-collapse: collapse; }
td { border-bottom: 1px solid silver; border-top: 1px solid silver; }
td { padding: 10px 0 10px 0; }
td.room { width: 65px; font-variant: small-caps; font-size: 12px; }
td.speaker { width: 150px; font-size: 12px; text-align: right; }

div.panel {
	background-color: white;

	padding: 30px;
	margin: 30px;

	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;

    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;	
}

div.about img { float:left; margin: 0 10px 10px 0; }
div.about p { margin: 0; }

div#header h1 { margin: 0; text-align: center; font-size: 32px; padding-top: 40px;}
div#header a { text-decoration: none; color: #3d3d3d; }

div#footer { text-align: center; }
div#footer a { color: #3d3d3d; }